{% extends 'base.html.twig' %}

{% block title %}
Edit user hours
{% endblock %}
{% block body %}

{{ form_start(editHoursForm) }}
    <button type="submit" class="btn btn-primary">Edit</button>
    {{ form_end(editHoursForm) }}
test
{% endblock %}