{% extends 'base.html.twig' %}

{% block title %}
   Hours Management Page
{% endblock %}
{% block body %}

   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6">
            <h3>Projects</h3>
            {% for project in projects %}
              <a href="{{ path('project_hours', {'id':project.id}) }}"> {{ project.name }}</a>

            {% endfor %}

         </div>
         <div class="col-md-6">
            <h3>Developers</h3>
            {% for developer in developers %}
               <a href="{{ path('user_hours', {'id':developer.id}) }}"> {{ developer.fullname }}</a>

            {% endfor %}

         </div>
      </div>
   </div>
{% endblock %}