{% extends 'base.html.twig' %}
{% block title %}
    Projects page
{% endblock %}
{% block body %}

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn" formnovalidate>Save</button>
        {{ form_end(form) }}


{% endblock  %}