{% extends 'base.html.twig' %}
{% block title %}
    Task page
{% endblock %}
{% block body %}
{{ form_start(taskForm) }}
    <button type="submit" class="btn btn-primary">Save project</button>
    {{ form_end(taskForm) }}
    test

{% endblock %}